<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CLS Portfolio</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/site.css">
</head>
<body>
	<nav class="menu">
		<ul class="active">
			<li class="main-logo"><h1><a href="index.html">LOGO</a></h1></li>
			<li><a href="about.html">About</a></li>
			<li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="about.html">Dreams</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>
	        {{ content }}
</body>
</html>